@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

$beige: #F7E9DC;
$orange: #EC755D;
$brown: #372515;
$medium-brown: hsl(28, 10%, 53%);
$cream: #FFFCF7;
$aquamarine: #76B5BC;